@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*-- scss:defaults --*/

// Custom color palette

$white:  #ffffff !default;
$black:  #000000 !default;

$red2: #871c0f;
$red1: #af2213;
$sun2: #D47800;
$sun1: #ffb300;
$day1: #f9f2d8;
$day2: #f0f6eb;
$sea1: #009da0;
$sea2: #007d80;
$sea3: #00585A;

$night:    #22394a;
$midnight: #162530;

// Bootstrap status colors

$primary:       $sea1   !default;
$secondary:     $sea3   !default;
$success:       #708e04 !default;
$info:          $sea1   !default;
$warning:       $sun1   !default;
$danger:        $red1   !default;

// Bootstrap base shades

$light:         #f8f9fa !default;
$dark:          #212529 !default;

// Fonts

$font-family-monospace: "JetBrains Mono", sans-serif !default;
$font-family-sans-serif: "Fira Sans Condensed", sans-serif !default;
$font-family-serif: "Barlow", serif !default;

// Base font sizes and heading scale

$font-size-base: 1.0rem !default;
$headings-font-weight: 700 !default;

$h1-font-size: $font-size-base * 2.35;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.45;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 0.95rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.95rem;
$footer-font-size: 0.95rem;

// Link colors

$link-color: $sea1;
$link-hover-color: #708e04;

/*-- scss:rules --*/

// Callouts

.callout.callout-style-default .callout-body,
.callout.callout-style-default > div.callout-header {
  font-size: 1.1rem;
}

.callout-icon-container {
  padding-top: 0 !important;
}

div.callout-tip.callout-style-default > .callout-header {
  background-color: $sea1 !important;
  color: #ffffff !important;
}
div.callout-tip.callout {
  border-left-color: $sea1 !important;
}

// Titles & headers

#title-block-header.quarto-title-block.default .description > p,
#title-block-header.quarto-title-block.default .abstract > p {
  font-weight: bold;
  font-family: $font-family-sans-serif;
}

h2 {
  border-bottom: 1px solid #adb5bd;
}

// Text

p {
  text-align: justify;
}

#quarto-appendix.default [role="doc-endnotes"] > ol,
#quarto-appendix.default .quarto-appendix-contents > :not(h2):not(.h2) {
  text-align: justify;
}

// Code

$code-bg: #1e1e1e !default;
$monokai-bg: #1e1e1e;


pre.text,
pre.sourceCode,
.cell-output pre {
  font-size: 0.775em;
}

pre > code.sourceCode > span {
  color: #22394a; /* #708e04; */
}
code {
  font-family: $font-family-monospace !important;
  color: $sea3;
}
code span {
  color: $midnight;
}
code span.op {
  color: #1A2D3A;
}
code span.co {
  color: #4a4a4a;
}
code span.st {
  color: #004975;
}
code span.fu {
  color: $sea2;
}
code span.cf {
  color: #C65906;
}
code span.at {
  color: #000;
}
code span.dv {
  color: #82A84D;
}
code span.cn {
  color: #739497;
}
code span.sc {
  color: #859517;
}
code span.fl {
  color: #777;
}
code span.va {
  color: #4c8d16;
}
code span.kw {
  color: #2d2d2d;
}

.cell-output {
  margin: 0 0 1em;
}

.cell-output pre {
  margin-bottom: 0;
  color: #ffffff;
}

.cell-output, pre.text {
  border: none;
  padding: .4em;
  background-color: #1e1e1e;
  border: 1px solid  #1e1e1e;
  border-radius: .25rem;
}

div.sourceCode {
  background-color: #eee;
  border: none;
  border-radius: .25rem;
}
p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  background-color: #f8f9fa;
  padding: .2em;
}

// Tables

.table {
  font-family: $font-family-serif;
}

.table .sourceCode {
  margin-top: 0;
}

.table h1 {
  font-size: 2.1em;
  margin-top: 0;
}

.table h2 {
  font-size: 1.7em;
  margin-top: 0;
  border-bottom: 0;
}

.table h3 {
  font-size: 1.3em;
  margin-top: 0;
}

.no-stripe .table tr.odd {
  --bs-table-striped-bg: transparent;
}

// Navbar and Sidebar

.sidebar nav[role="doc-toc"] > ul li a {

  &.active {
    border-left: 1px solid $sea1;
    color: $sea1 !important;
  }
}
.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  color: #22394a !important;
}

.navbar .navbar-nav .show>.nav-link,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code{
  color: $sea1 !important;

}

.navbar .navbar-nav .nav-link.active,
div.sidebar-item-container .active,
div.sidebar-item-container .show > .nav-link, 
div.sidebar-item-container .sidebar-link > code {
  color: #fff !important;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
 color: #22394a !important;
}
.navbar .navbar-nav .nav-link.active:hover {
  color: #22394a;
}



// Footer

.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}

.nav-footer-center {
  display: none;
}

.nav-footer-left {
  flex-grow: 3;
}

.back-nav {
  margin-bottom: 1.5rem;
}

// Buttons

p a.btn, .buttons span.btn {
  font-size: 1.1rem;
}

.buttons .btn {
  margin-bottom: 1rem;
}

// Header spacing in columns layout

main.page-columns > header > h1.title, 
main.page-columns > header > .title.h1 {
  margin-bottom: 1rem;
}

// Lists

main {
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0em;
  }
  ol p + ol,
  ul p + ul,
  ol p + ul,
  ul p + ol {
    margin-bottom: 1em;
  }
}

ul,
ol {
  font-family: $font-family-serif;
}

// References

.quarto-appendix-contents div.hanging-indent div.csl-entry {
  margin-top: 0.5em;
}
